name: Economy Monitor Cron

on:
  schedule:
    # Запуск раз в час (в начале часа)
    - cron: '0 * * * *'
  workflow_dispatch: # Кнопка для ручного запуска

permissions:
  contents: write

jobs:
  check-website:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run parser
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python main.py

      - name: Commit and Push history
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update history.json [skip ci]"
          file_pattern: history.json
